<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>120x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,182},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>120x40@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,641},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>140x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,546},{140,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,20}}</string>
                <key>sourceSize</key>
                <string>{140,20}</string>
            </dict>
            <key>140x20@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{280,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,41}}</string>
                <key>sourceSize</key>
                <string>{280,41}</string>
            </dict>
            <key>20x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,690},{20,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,120}}</string>
                <key>sourceSize</key>
                <string>{20,120}</string>
            </dict>
            <key>20x120@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,732},{40,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,240}}</string>
                <key>sourceSize</key>
                <string>{40,240}</string>
            </dict>
            <key>30x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,968},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>30x60@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,732},{60,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,120}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>30x85.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{30,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,80}}</string>
                <key>sourceSize</key>
                <string>{30,80}</string>
            </dict>
            <key>30x85@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,327},{60,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,160}}</string>
                <key>sourceSize</key>
                <string>{60,160}</string>
            </dict>
            <key>430x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{430,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,30}}</string>
                <key>sourceSize</key>
                <string>{430,30}</string>
            </dict>
            <key>430x30@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{860,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,60}}</string>
                <key>sourceSize</key>
                <string>{860,60}</string>
            </dict>
            <key>45x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,122},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>45x45@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,633},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>cat_awake.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,389},{155,155}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{155,155}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>cat_awake@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,182},{308,310}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{308,310}}</string>
                <key>sourceSize</key>
                <string>{322,322}</string>
            </dict>
            <key>cat_bed.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,573},{187,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{187,58}}</string>
                <key>sourceSize</key>
                <string>{189,58}</string>
            </dict>
            <key>cat_bed@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,64},{372,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{372,116}}</string>
                <key>sourceSize</key>
                <string>{378,116}</string>
            </dict>
            <key>cat_curlup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{157,139}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{157,139}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>cat_curlup1@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{312,278}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{312,278}}</string>
                <key>sourceSize</key>
                <string>{322,322}</string>
            </dict>
            <key>cat_curlup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,723},{151,119}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,39},{151,119}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>cat_curlup2@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,492},{302,238}}</string>
                <key>offset</key>
                <string>{4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,77},{302,238}}</string>
                <key>sourceSize</key>
                <string>{322,322}</string>
            </dict>
            <key>cat_curlup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,548},{155,85}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,76},{155,85}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>cat_curlup3@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{308,170}}</string>
                <key>offset</key>
                <string>{-1,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,152},{308,170}}</string>
                <key>sourceSize</key>
                <string>{322,322}</string>
            </dict>
            <key>cat_sleepy.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,732},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>cat_sleepy@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,229},{200,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,224}}</string>
                <key>sourceSize</key>
                <string>{200,224}</string>
            </dict>
            <key>hook.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,182},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>hook@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,94},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,46}</string>
            </dict>
            <key>hook_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,72},{47,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,20}}</string>
                <key>sourceSize</key>
                <string>{47,20}</string>
            </dict>
            <key>hook_base@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{94,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,40}}</string>
                <key>sourceSize</key>
                <string>{94,40}</string>
            </dict>
            <key>hook_holder.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,72},{47,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,20}}</string>
                <key>sourceSize</key>
                <string>{47,20}</string>
            </dict>
            <key>hook_holder@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{94,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,40}}</string>
                <key>sourceSize</key>
                <string>{94,40}</string>
            </dict>
            <key>ice430x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{430,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,30}}</string>
                <key>sourceSize</key>
                <string>{430,30}</string>
            </dict>
            <key>ice430x30@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{860,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,60}}</string>
                <key>sourceSize</key>
                <string>{860,60}</string>
            </dict>
            <key>picture-frame-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,732},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{62,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>picture-frame-mask@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,844},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{122,122}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>picture-frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,846},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>picture-frame@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,431},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,725},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>picture@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,812},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>rock140x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,548},{140,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,20}}</string>
                <key>sourceSize</key>
                <string>{140,20}</string>
            </dict>
            <key>rock140x20@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,732},{280,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,40}}</string>
                <key>sourceSize</key>
                <string>{280,40}</string>
            </dict>
            <key>rock20x140.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,431},{20,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,140}}</string>
                <key>sourceSize</key>
                <string>{20,140}</string>
            </dict>
            <key>rock20x140@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,732},{40,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,280}}</string>
                <key>sourceSize</key>
                <string>{40,280}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,64},{50,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,6}</string>
            </dict>
            <key>rope@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,796},{100,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,13}}</string>
                <key>sourceSize</key>
                <string>{100,13}</string>
            </dict>
            <key>spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,182},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>spring@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,633},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tv-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,169},{58,43}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{58,43}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>tv-mask@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,96},{114,84}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,62},{114,84}}</string>
                <key>sourceSize</key>
                <string>{164,182}</string>
            </dict>
            <key>tv.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,548},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>tv@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,143},{164,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,182}}</string>
                <key>sourceSize</key>
                <string>{164,182}</string>
            </dict>
            <key>wood120x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,182},{120,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,40}}</string>
                <key>sourceSize</key>
                <string>{120,40}</string>
            </dict>
            <key>wood120x40@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,641},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>wood30x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,968},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>wood30x60@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,732},{60,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,120}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>wood30x85.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{30,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,80}}</string>
                <key>sourceSize</key>
                <string>{30,80}</string>
            </dict>
            <key>wood30x85@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,327},{60,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,160}}</string>
                <key>sourceSize</key>
                <string>{60,160}</string>
            </dict>
            <key>wood45x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,122},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>wood45x45@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,633},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CocosSprites.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2477c44e4882be0932bf132fc72fa39:1d45badf671d77554d0869b3dc997c70:c98aeebb811f155c1895f88b6d7e5a1f$</string>
            <key>textureFileName</key>
            <string>CocosSprites.png</string>
        </dict>
    </dict>
</plist>
